/** 
* 보통 css를 변수 처럼 쓰면서
* 전역으로 css를 선언하는 방식
**/

// base_color
$main_color: #22223B;
$serve_color: #9A8C98;
$font_color: #F2E9E4;
$extra_color: #FFFA7E;

@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
